.timelineSection {
  padding: 4rem 1rem;
  text-align: center;
  background: #fff;
  height: 50vh;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 3rem;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.timelineItem {
  position: relative;
  flex: 1;
  text-align: center;
}

.circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-weight: bold;
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.line {
  position: absolute;
  top: 22px;
  left: 50%;
  width: 100%;
  height: 2px;
  background: #ddd;
  z-index: 1;
}

.timelineItem:last-child .line {
  display: none;
}

.content {
  position: absolute;
  width: 200px;
  background: #f9f9f9;
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  color: #333;
  font-size: 0.95rem;
  line-height: 1.4;
}

.content:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.content h3 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.3rem;
}

.top {
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
    .timelineSection{
        display: none;
    }
}
