@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body, html {
  scrollbar-width: none;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
hr{
  height: 1px;
  background-color: #F2F2F2;
  border: none;
}
p{
  font-size: 1rem;
  font-weight: 400;
  color: #6E6E6E;
}
main{
  padding: 0 20px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px;
  position: relative;
  z-index: 100;
  margin-right: 20px;
}

nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 0;
}
nav a{
  text-decoration: none;
  color: #121212;
  font-size: 1rem;
  font-weight: 400;
}
nav a:hover{
  color: #AAAAAA;
}

nav #mail{
  display: flex;
  align-items: center;
  gap: 5px;
}

.mobile button{
  border: 0;
  background-color: transparent;
}

.mobile {
  display: none;
}

#home, #services{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#home .section-content-home h1{
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0;
  color: #121212;
  transition-duration: 0.5s;
}

.gradient-text {
  background: linear-gradient(130deg, #555, skyblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.action-btns button{
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 10px;
  font-family: inherit;
  font-weight: 500;
  transition-duration: 0.5s;
}
.action-btns #my-work{
  background-color: #121212;
  color: #F2F2F2;
}
.action-btns #l-connect{
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.action-btns #my-work:hover, #l-connect:hover{
  background-color: #AAAAAA;
  color: #F2F2F2;
}


.section-content-services {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.section-subtitle {
  font-size: 1rem;
  color: #666;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 1rem;
}

.grid-services {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.first-row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.first-row h1, #portfolio h3, #contact h3 {
  flex: 1 1 200px;
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0;
  color: #121212;
  align-self: center;
  order: 1;
  transition-duration: 0.5s;
}

.cards-wrapper {
  display: flex;
  gap: 1.5rem;
  flex: 2 1 400px;
  order: 2;
}

.second-row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.service-card {
  flex: 1 1 200px;
  text-align: left;
  background-color: #f9f9f9;
  padding: 2rem;
  /*border-radius: 12px;*/
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.service-card img {
  background-color: #121212;
  padding: 12px;
  border-radius: 50%;
  margin-bottom: 1rem;
  display: block;
  width: 20px;
  height: 20px;
}

.service-card h3, #highlight h3, #contact .method {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 0.75rem;
  color: #121212;
}

.service-card p {
  line-height: 1.6;
  color: #555;
  margin: 0;
  flex-grow: 1;
}

#highlight{
  padding: 0 20px;
  text-align: center;
  margin-bottom: 20px;
}
#highlight button{
  background-color: #121212;
  border: 0;
  border-radius: 50px;
  color: #F2F2F2;
  padding: 10px 20px;
  transition-duration: 0.5s;
}
#highlight button:hover{
  background-color: #AAAAAA;
}
#highlight p{margin: auto;}

#portfolio{
  padding: 20px;
  text-align: center;
}


.highlights-grid{
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.highlight-card{
  text-align: start;
  max-width: 350px;
  background-color: #f9f9f9;
  padding: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 220px;
  justify-content: space-between;
  margin: 10px;
  
}
.highlight-card #title{
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 0.75rem;
  color: #121212;
}
.highlight-card .logo{
  margin: 5px 0;
}
.project-link{
  text-decoration: none;
  color: #121212;
}

#contact{
  text-align: center;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact-methods div{
  text-align: left;
}
#contact-methods p{ margin: 6px 0; }

#contact-methods{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
#contact-methods a{
  text-decoration: none;
  color: #6E6E6E;
}
#contact-methods #general{
  background-color: #f9f9f9;
  height: 150px;
  width: 600px;
  display:flex;
  justify-content: center;
  align-items: center;
}
#general .method{
  margin-bottom: 30px;
  text-align: center;
}
#general .method {
  background: linear-gradient(to bottom, #121212, #F2F2F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
#general a{
  color: #fff;
  padding: 10px 20px;
  background-color: #121212;
  border-radius: 50px;
}

footer{
  padding: 30px 20px;
  text-align: center;
}
footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 5px;
  margin: 0;
  padding: 0;
}

/* Responsiveness */
@media (max-width: 1024px) {
  #home .section-content-home h1 {
    font-size: 2.5rem;
  }
  
  
  .first-row {
    justify-content: center;
    text-align: center;
  }
  
  .first-row h1 {
    flex-basis: 100%;
    font-size: 2.5rem;
    order: 1;
  }
  
  .cards-wrapper {
    flex-basis: 100%;
    order: 2;
    justify-content: center;
  }
  
  .second-row {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  nav #mail{
    display: block;
    font-size: 12px;
  }
  nav img{margin-left: 5px; position: absolute;}
  
  .mobile{
    margin-top: -30px;
    position: absolute;
  }
   
  nav ul{display: none;}
  .mobile {
    display: block;
    position: relative;
    z-index: 200;
  }

  nav {
    justify-content: space-between;
    align-items: center;
  }

  nav #mail {
    font-size: 12px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 200px;
    border-radius: 8px;
    padding: 15px 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    right: 0;
  }

  .nav-links li {
    text-align: center;
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex;
    animation: fadeIn 0.3s ease forwards;
  }

  .highlight-card{margin: 10px 0; height: auto;}

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }

  #home .section-content-home p br, #home .section-content-home h1 br{ display: none; }
  
  .first-row,
  .second-row {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .cards-wrapper {
    flex-direction: column;
    width: 100%;
  }
  
  .service-card {
    max-width: 100%;
    min-height: auto;
  }
  
  #services-heading, #portfolio h3, #contact h3 {
    font-size: 2rem;
  }
  
  .section-content-services {
    padding: 2rem 1rem;
  }

  #services{
    height: auto;
  }

  #contact-methods div{
    text-align: center;
    margin: 10px;
  }

  #contact-methods #general{
    width: 100%;
  }
  #contact-methods{justify-content: center;}
}

@media (max-width: 480px) {
  .service-card {
    padding: 1.5rem;
  }
  
  .service-card img {
    width: 20px;
    height: 20px;
    padding: 8px;
  }
}